<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head  :: head}"></div>
<body>
<div th:replace="~{fragments/navigation  :: navigation}"></div>

<div class="container-fluid status-container">

    <div class="cards">
        <div class="card"
             th:if="${statusData.application.version != null}"
             th:with="version=${statusData.application.version}">
            <div class="card-body">
                <h5 class="card-title">Version</h5>
                <div class="card-text">
                    <div class="card-text-item">
                        <div class="card-text-item-title">Branch</div>
                        <div th:text="${version.branch}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Commit Id</div>
                        <div th:text="${version.commitId}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Time</div>
                        <div th:text="${#dates.format(version.time, 'dd-MM-yyyy HH:mm:ss')}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Author</div>
                        <div th:text="${version.user}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Message</div>
                        <div th:text="${version.message}"></div>
                    </div>
                    <div class="card-text-item">
                        <a class="btn btn-info" th:href="${version.repositoryUrl}">Go to Git-Repository</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" th:with="system=${statusData.system}">
            <div class="card-body">
                <h5 class="card-title">System</h5>
                <div class="card-text">
                    <div class="card-text-item">
                        <div class="card-text-item-title">Started at</div>
                        <div th:text="${#temporals.format(system.startTime, 'dd-MM-yyyy HH:mm')}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Up-Time</div>
                        <div th:text="${system.upTime}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">System-Time</div>
                        <div th:text="${#temporals.format(system.systemTime, 'dd-MM-yyyy HH:mm')}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Port</div>
                        <div th:text="${system.port}"></div>
                    </div>
                    <div class="card-text-item">
                        <div class="card-text-item-title">Hostname</div>
                        <div th:text="${system.hostname}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="status-details">
        <h5>Status:
            <div th:replace="~{ fragments/status-badge :: status_badge(status=${statusData.serviceStatus}) }"></div>
        </h5>
        <div th:each="statusGroup : ${statusData.indicators}" class="status-detail-group-container">
            <h6 th:text="${statusGroup.key}"></h6>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="status-column">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="statusDetail : ${statusGroup.value}">
                    <td>
                        <div th:replace="~{ fragments/status-badge :: status_badge(status=${statusDetail.status}) }"></div>
                    </td>
                    <td th:text="${statusDetail.name}"></td>
                    <td th:text="${statusDetail.message}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer  :: footer}"></div>
</body>
</html>

