<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<ul class="nav navbar-nav navbar-right" th:fragment="right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Endpoints
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li th:each="navbarItem : ${subNavbarItems}">
                <a class="dropdown-item"
                   th:href="@{|${managementBasePath}${navbarItem.path}|}"
                   th:text="${navbarItem.name}"></a>
            </li>
        </ul>
    </li>
</ul>

</body>
</html>
