.status-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;

    .card-text-item {
        margin: 8px 0;

        .card-text-item-title {
            font-weight: bold;
            color: #6c757d;
        }
    }

}

.status-details {
    flex: 1;

    .status-detail-group-container {
        border-top: 1px solid #d2d2d2;
        padding: 16px;

        .status-column {
            width: 100px;
        }
    }
}
